# Node modules
node_modules/

# Exclude all JavaScript files
*.js

# Android/Build files
android/.gradle/
android/app/build/
android/app/src/main/res/*.png
android/local.properties
android/app/debug.keystore

# iOS/Build files
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcodeproj/
ios/*.xcworkspace/
ios/*.xcuserstate

# Logs
*.log

# Environment files
.env
